.backgroundorange{
    background: #fd602c
}
.backgroundBlack{
    background: black;
}
.colororange{
    color: #fd602c;
}
.colorgray{
    color: #8d8c8c;
}
.backgroundGray{
    background-color: #f6f6f6;
}

.header-top{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.header-top ul{
    display: flex;
    margin: 0;

}
.header-top p{
    color: white;
}
.header-top ul li{
    padding-left:16px;
}
.header-top ul li a{
    color: #8d8c8c;
    transition: all 0.2s;
}
.header-top ul li a:hover{
    color: #23527c;
    text-decoration: none;
}
.header-top ul li a i{
    font-size: 14px;
    color: #8d8c8c;
    transition: all 0.2s;
}
.header-top ul li a i:hover{
    color: #23527c;
    text-decoration: none;
}
.header-top p{
    margin: 0;
    color: #8d8c8c;
}
.border-bottom{
    border-bottom: 1px solid #efefef
}

#register{
    border-left: 1px solid #8d8c8c;;
    border-right: 1px solid  #8d8c8c;;

}
#login a{
    text-decoration-color: 1px solid white;
}
.logo{
    height: 80px;
    width: 140px;
    display: flex;
    align-items: center;
}
.logo img{
    height: 53%;
    width: 100%;
    cursor: pointer;
}
.header-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-bottom ul{
    display: flex;
    padding-right: 15px;
    margin: 0;
}
.header-bottom ul li{
    padding: 0px 10px;
}
.header-bottom ul li a{
    color: #777;
}
.header-bottom ul li a:hover{
    color: #fd602c;
    text-decoration: none;
}
.navIcon{
    color: #5a5959;
    font-size: 20px;
    display: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
  
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
 
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  

.dropdown-content a:hover {
      background-color: #f1f1f1
}
  
 
.dropdown:hover .dropdown-content {
    display: block;
}
.weAreHasta{
    height: 250px;
    background-image: url(../img/header-img.jpg);
   
  background-size: cover;
}
.weAreHasta div{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.weAreHasta div h3{
    color: white;
    margin: 0;
  
   font-weight: 700
}
.weAreHasta div h6{
  font-size: 18px;
    margin: 0;
    color: white;
    line-height: 37px;
}
.aboutStyle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}
.aboutStyle h3{
    font-weight: normal;
}
.aboutStyle ul{
    display: flex;
    margin: 0;
    
}
.aboutStyle ul li a{
    color: #161616;
    text-decoration: none;
}
.responsive button{
    background: white;
    padding: 10px 25px;
    border: 1px solid #e0e0e0;
    transition: all .2s ease-in-out;
}
.responsive button:hover{
    color: #fd602c;
}
.responsive button:focus{
    color: #fd602c;
}


.serviceSlider{
    width: 100%;
    height: 400px;
    position: relative;
    border: 1px solid #ddd;
}
.Multipurpose{
    height: 100%;
    width: 100%;
    
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 31px 52px;

}
.Multipurpose p{
    color: #8d8c8c;
    color: 14px;
}
.Multipurpose ul{
    margin-top: 20px
}
.Multipurpose ul li{
    margin-bottom: 11px;
}
.Multipurpose ul li i{
    color: #fd602c
}
.Multipurpose ul li span{
    color: #8d8c8c;
    margin-left: 10px;
    font-size: 15px;
}

.alo{
    display: none;
}
@keyframes tab-opacity {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.serviceSlider .tab-content{
    animation: tab-opacity 0.4s;
}
.BisunessUl{
    padding: 0;
}
.BisunessUl li{
    padding: 10px 0px;
    color: #777;
}
.careersRight h5{
    font-weight: 400;
}
.emailInput{
    height: 42px;
    padding: 0;
    display: flex;
}
.emailInput input{
    width: 80%;
    height: 100%;
    border: 1px solid #ddd;
    padding: 0px 10px;
    box-sizing: border-box;
}
.emailInput button{
    height: 100%;
    width: 20%;
    background: white;
    color: #777;
    box-sizing: border-box;
    border: 1px solid #ddd;
}
.LatestPosts{
    height: 80px;


}
.LatestPosts div:first-child{
    height: 100%;
    padding: 0;

    
}
.LatestPosts div:first-child img{
    width: 100%;
    height: 100%;

}
.LatestPosts div:last-child{
    height: 100%;
}
.LatestPosts div:last-child h6{
    margin-bottom: 5px;
    cursor: pointer;
    transition: all .4s ease-in-out;
}
.LatestPosts div:last-child h6:hover{
    color: #fd602c
}
.LatestPosts div:last-child p{
    font-size: 14px;
    margin-bottom: 8px;
    color: #777;
}
.LatestPosts div:last-child small{
    color: #8d8c8c;
}
.layered{
    height: 80px;


}
.layered div:first-child{
    height: 100%;
    padding: 0;

    
}
.layered div:first-child img{
    width: 100%;
    height: 100%;

}
.layered div:last-child{
    height: 100%;
}
.layered div:last-child h6{
    margin-bottom: 5px;
    cursor: pointer;
    transition: all .4s ease-in-out;
    color: #fd602c
}
.layered div:last-child h6:hover{
    color: #161616;
}
.layered div:last-child p{
    font-size: 14px;
    margin-bottom: 8px;
    color: #777;
}
.layered div:last-child small{
    color: #8d8c8c;
}

.footerThirdCol{
    
    height: 35px;
    display: flex
}
.footerThirdColTop button{
    color: #727272;
    border: 1px solid #727272;
    background: white;
    height: 100%;
    transition: all .3s ease-in-out;
}
.footerThirdColTop button:hover{
    border: 1px solid #fd602c;
    background:  #fd602c;
    color: white;
}
.animationButton{
    width: 40%;
}
.artButton{
    width: 21%;
    margin-left: 10px;
}
.photoButton{
    width: 47%;
    
}
.designButton{
    width: 35%;
    margin-left: 10px;
    border: 1px solid #fd602c;
    color: #fd602c;
}
.resposiveButton{
    width: 42%;
    
}
.developButton{
    width: 38%;
    margin-left: 10px;
   
}
.brandingButton{
    width: 38%;
}
.cleanButton{
    width: 34%;
    margin-left: 10px;
}
.careersSixImg{
    width: 100%;
    height: 70px;
}
.careersSixImg div{
    height: 100%;
    cursor: pointer;
}
.careersSixImg div img{
    width: 100%;
    height: 100%;
}
.careersRow{
    margin-top: 80px;
}
.careersRow h4{
    font-weight: 400;
}
.visualDesigner{
    background: #fd602c;
    color: white;
    padding: 8px 35px;
    border: none;
    transition: all .3s ease-in-out;
}
.visualDesigner:hover{
    background: #161616;

}
.graphicMain{
    width: 98%;
   
}
.graphicH4{
    width: 100%;
    margin-top: 70px;
}
.graphicTop{
    display: flex;
    align-items: center;
    padding: 10px 0px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd
}
.graphicTop i{
    color: #727272;
    margin-left: 10px;
}
.graphicTop p{
    margin-bottom: 0;
    margin-left: 10px;
}
.graphicMainFirst div:last-child{
    padding: 20px 35px;;
    display: none;
    overflow: hidden;
    transition: all .3s ease-in-out
}
.graphicMainFirst span{
    margin-left: 10px;
    color: #777
}
.graphicMainFirst div:last-child p{
    color: #777
}
.displaynone{
    display: none;
}
.footerFirstCol p{
    color: #727272;
    padding-bottom: 15px;
    font-size: 15px;
}
.footerFirstCol ul li{
    color: #727272;
    padding-bottom: 20px;
    font-size: 15px;
}
.footerFirstCol ul li span{
    margin-left: 8px;
}
#logo{
    padding-bottom: 12px;
}
.footLine{
    width: 10%;
    height: 3px;
    background: white;
}
.footerSecondCol h3{
    color: white;
    font-weight: 400
}
.footerSecondColImg{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.footerSecondColImg div:first-child{
    width: 33%;
    height: 100%;
    
}
.footerSecondColImg div img{
    width: 90%;
    height: 75%;
    border-radius: 100%;

}
.footerSecondColImg div:last-child{
    width: 63%;
    height: 100%;
}
.footerSecondColImg div:last-child h5{
    font-size: 18px;
    color: white;
    font-weight: 400
}
.footerSecondColImg div:last-child p{
    color: #727272;
    margin: 0;
}
.footerSecondColImg div:last-child small{
    color: #727272;
}
.footerSecondColImg1{
    border-bottom: 1px solid #727272;
    margin-top: 40px;
}
.footerSecondColImg2{
    margin-top: 20px;
}
.footerThirdColTop h3{
    color: white;
    font-weight: 400;
}
.footerThirdCol{
    width: 100%;
    height: 35px;
    display: flex
}
footer button{
    color: #727272;
    border: 1px solid #727272;
    background: transparent !important;
    height: 100%;
    transition: all .3s ease-in-out;
}
footer button:hover{
    border: 1px solid #fd602c;
    color: #fd602c !important
}
.animationButton{
    width: 40%;
}
.artButton{
    width: 21%;
    margin-left: 10px;
}
.photoButton{
    width: 47%;
    
}
.designButton{
    width: 35%;
    margin-left: 10px;
    border: 1px solid #fd602c;
    color: #fd602c;
}
.resposiveButton{
    width: 42%;
    
}
.developButton{
    width: 38%;
    margin-left: 10px;
   
}
.brandingButton{
    width: 38%;
}
.cleanButton{
    width: 34%;
    margin-left: 10px;
}
.footerFourthCol h3{
    color: white;
    font-weight: 400;
}
.footerFourthCol ul{
    margin-top: 35px;
}
.footerFourthCol ul li{
    padding-bottom: 10px;
}
.footerFourthCol ul li a{
    color: #727272;
    padding-left: 5px;
    transition: all .2s ease-in-out;
    font-size: 15px;
}
.footerFourthCol ul li a:hover{
    color: white;
    text-decoration: none;
}
.footerPadding{
    padding-top:70px;
    padding-bottom: 30px;
}
.footerBottomBg{
    background-color: #1a1a1a;
}
.footerIcon{
    width: 30%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}
.footerIcon div{
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-in-out;
}
.footerIcon div i {
    transition: all .2s ease-in-out;
}
.footerIcon div:hover{
    background: #fd602c;
   
}
.footerIcon div:hover i{
    color: white;
}
.footbottomRow{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footBasket{
    background: #fd602c !important;
}
.footBasket i{
    color: white;
}
.footbottomRow p{
    margin-top: 60px;
    color: #727272;
    margin-bottom: 60px;
}




@media screen and (max-width: 768px){
    .header-bottom ul {
        display: none;
    }
    .navIcon{
        display: block;
    }
    .footerIcon{
        width: 60%;
    }
    .careersRight{
        margin-top: 50px;
    }
    .LatestPostsH5{
        width: 100%;
    }
}
